/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #272727;
  color: #ffffff;
  position: relative; /* Ensure the body acts as a relative container for absolute positioning */
}

header {
  background-color: #000;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}
/* Existing nav styles */
nav {
  display: flex;
  justify-content: center;
  background-color: #27384b;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 5px;
  background: transparent;
  font-weight: 900;
}

nav a:hover {
  background-color: transparent; /* We want to use the border effect */
}

nav a:before,
nav a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  box-sizing: border-box;
  transition: 0.3s transform linear, 0.3s height linear;
}

nav a:before {
  left: 0;
  bottom: 0;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  transform: translateX(100%);
}

nav a:after {
  top: 0;
  left: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translateX(-100%);
}

nav a:hover:before {
  border-color: #44adf2; /* Change this color to whatever you like */
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

nav a:hover:after {
  border-color: #c44e7c; /* Change this color to whatever you like */
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

.lang-card img {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.lang-card__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.lang-card__description {
  font-size: 18px;
  margin-bottom: 20px;
}
nav a:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.background {
  width: 100%;
  height: 100%;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

@keyframes move {
  to {
    background-position: calc(var(--s) * 0.5) 0;
  }
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.section {
  background-color: #27384b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info:hover {
  box-shadow: 0 5px 15px #215a80;
}

.contact-info p {
  margin: 5px 0;
}
.contact-info a {
  color: #44adf2;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: translateY(-3px);
}

.social-icons img {
  max-width: 30px; /* Adjust the size as needed */
  max-height: 30px; /* Adjust the size as needed */
  width: 100%; /* Ensure the images scale proportionally */
  height: auto; /* Ensure the images scale proportionally */
  transition: transform 0.5s ease, scale 0.5s ease;
}

.social-icons img:hover {
  transform: scale(1.2) rotate(360deg);
}

/* Card-like sections */
.card {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px #215a80;
}

/* About Me Card Specific Styles */
.about-section .card {
  position: relative;
  width: 100%;
  height: 300px;
  background: linear-gradient(-45deg, #212121 0%, #414141 50%, #212121 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.about-section .card img {
  width: auto;
  height: 100%;
  border-radius: 20%;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.about-section .card:hover {
  transform: rotate(-5deg) scale(0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.about-section .card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.about-section .card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.about-section .card__title {
  margin: 0;
  font-size: 30px;
  color: #333333;
  font-weight: 700;
}

.about-section .card__description {
  margin: 10px 0 0;
  font-size: 25px;
  color: #777777;
  line-height: 1.4;
}

.about-section .card:hover img {
  scale: 0;
  transform: rotate(-45deg);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
.project-card {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px #215a80;
}
.project-card a {
  color: #44adf2;
}
.project-card h3 {
  margin: 0;
  font-size: 20px;
}

.project-card p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777777;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .project-card h3 {
    font-size: 18px;
  }

  .project-card p {
    font-size: 12px;
  }
}

.ui-btn {
  --btn-hover-bg: rgb(0, 0, 0);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --hover-btn-color: lime;
  --default-btn-color: #fff;
  --font-size: 30px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

/* Existing CSS styles */

.bubble-container {
  position: absolute;
  top: 50px; /* Position 50px below the header */
  left: 0;
  width: 90%;
  height: calc(100% - 50px); /* Adjust height to cover the rest of the page */
  pointer-events: none; /* Ensure the bubbles don't interfere with user interaction */
  z-index: -1; /* Move the bubbles behind other content */
}

.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(1) {
  top: 10%;
  left: 10%;
  animation-delay: -4s;
}

.bubble:nth-child(2) {
  top: 20%;
  left: 30%;
  animation-delay: -6s;
}

.bubble:nth-child(3) {
  top: 30%;
  left: 50%;
  animation-delay: -3s;
}

.bubble:nth-child(4) {
  top: 40%;
  left: 70%;
  animation-delay: -5s;
}

.bubble:nth-child(5) {
  top: 50%;
  left: 90%;
  animation-delay: -7s;
}

@keyframes animate_4010 {
  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before,
.bubble::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}

/* Centering card contents */
.section-title {
  text-align: center;
}
.card,
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card h3,
.project-card h3 {
  margin-bottom: 10px;
}

.card img,
.project-card img {
  margin-bottom: 10px;
  max-width: 100%;
}

.card__title,
.project-card h3,
.card__description,
.project-card p {
  text-align: center;
}

.button-parrot {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

button {
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 18px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

.button-parrot .parrot {
  position: absolute;
  width: 60px;
  text-align: center;
  animation: blink 0.8s infinite;
  color: transparent;
}

.button-parrot .parrot:before {
  content: "Click Me!";
}

.button-parrot .parrot:nth-child(1) {
  top: -30px;
  left: -40px;
  font: 12px/1 "Margarine", sans-serif;
  transform: rotate(-20deg);
  animation-duration: 0.5s;
}

.button-parrot .parrot:nth-child(2) {
  font: 12px/1 "Margarine", sans-serif;
  right: -40px;
  top: -20px;
  transform: rotate(15deg);
  animation-duration: 0.3s;
}

.button-parrot .parrot:nth-child(3) {
  font: 16px/1 "Margarine", sans-serif;
  top: -60px;
  left: 15px;
  transform: rotate(10deg);
  animation-duration: 1s;
}

.button-parrot .parrot:nth-child(4) {
  font: 18px/1 "Margarine", sans-serif;
  top: -70px;
  left: 95px;
  transform: rotate(2deg);
  animation-duration: 0.7s;
}

.button-parrot .parrot:nth-child(5) {
  font: 14px/1 "Margarine", sans-serif;
  top: 80px;
  left: 105px;
  transform: rotate(-20deg);
  animation-duration: 0.8s;
}

.button-parrot .parrot:nth-child(6) {
  font: 12px/1 "Margarine", sans-serif;
  top: 80px;
  left: 5px;
  transform: rotate(10deg);
  animation-duration: 1.2s;
}

.button-parrot button:hover .parrot:before {
  content: "Do it!";
  width: 70px;
}

@keyframes blink {
  25%,
  75% {
    color: transparent;
  }

  40%,
  60% {
    color: #fff;
  }
}
.skillscard {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.body {
  padding: 20px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  width: 160px; /* Adjusted width for longer skill names */
  font-size: 16px;
}

.skill-level {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  background-color: #27384b;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}

.card {
  position: relative;
  box-sizing: border-box;
  background-color: #212121;
  border: 5px solid #212121;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
    inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
    inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.card:hover {
  box-shadow: #5b5b5b 0px 10px 20px, rgba(193, 44, 223, 0.23) 0px 6px 6px,
    inset #5b5b5b 0px 10px 20px, inset #5b5b5b 0px 6px 6px;
  border: 5px solid #bcae5f;
}

.card-title {
  margin: 0;
  font-size: 18px;

  font-weight: 600;
  color: #fff;
  cursor: default;
}

.card-des {
  margin: 0;
  font-size: 15px;

  font-weight: 600;
  color: #fff;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  cursor: default;
}

.card-text {
  position: absolute;
  margin: 0;
  font-size: 14px;

  font-weight: 400;
  color: #fff;
  right: 20px;
  bottom: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  animation: textanimate 0.8s alternate infinite;
  cursor: pointer;
}

.card:hover > .card-text {
  opacity: 1;
}

@keyframes textanimate {
  0% {
    right: 20px;
  }

  100% {
    right: 10px;
  }
}

.section {
  position: relative;
  box-sizing: border-box;
  border: 5px solid #27384b;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
  box-shadow: rgba(39, 56, 75, 0.19) 0px 10px 20px,
    rgba(39, 56, 75, 0.23) 0px 6px 6px, inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
    inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all ease-in-out 0.3s;
}

.section:hover {
  box-shadow: #215a80 0px 10px 20px, rgba(193, 44, 223, 0.23) 0px 6px 6px,
    inset #215a80 0px 10px 20px, inset #215a80 0px 6px 6px;
  border: 5px solid #4e7197;
}

.section-title {
  margin: 0;
  font-weight: 600;
  color: #fff;
  cursor: default;
}

.section-des {
  margin: 0;
  font-size: 15px;

  font-weight: 600;
  color: #fff;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  cursor: default;
}

.section-text {
  position: absolute;
  margin: 0;
  font-size: 14px;

  font-weight: 400;
  color: #fff;
  right: 20px;
  bottom: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  animation: textanimate 0.8s alternate infinite;
  cursor: pointer;
}

.section:hover > .section-text {
  opacity: 1;
}
.card a {
  color: #44adf2;
}

.nav2 {
  display: none;
}

.nav2 a {
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 5px;
  background: transparent;
  font-weight: 900;
}

.nav2 a:hover {
  background-color: transparent; /* We want to use the border effect */
}

.nav2 a:before,
.nav2 a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  box-sizing: border-box;
  transition: 0.3s transform linear, 0.3s height linear;
}

.nav2 a:before {
  left: 0;
  bottom: 0;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  transform: translateX(100%);
}

.nav2 a:after {
  top: 0;
  left: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translateX(-100%);
}

.nav2 a:hover:before {
  border-color: #44adf2; /* Change this color to whatever you like */
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.nav2 a:hover:after {
  border-color: #c44e7c; /* Change this color to whatever you like */
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}
.card___description,
.card___title {
  display: none;
}

/*Media Queries*/
@media (max-width: 768px) {
  .button {
    margin: 5px;
  }
  .footer {
    display: none;
  }
  .bubble-container {
    width: auto;
  }
  .nav {
    display: none;
    position: relative;
  }
  .nav2 {
    display: flex;
    justify-content: center;
    background-color: #27384b;
    position: relative;
    top: 0;
    z-index: 1000;
  }
  .contact-info {
    margin-bottom: 150px;
  }

  /*about section*/
  .about-section .card {
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(-45deg, #212121 0%, #414141 50%, #212121 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .about-section .card img {
    margin-top: 20px;
    width: auto;
    height: 200px;
    border-radius: 20%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .about-section .card:hover {
    display: none;
  }
  .about-section .lang-card__title {
    font-size: 2px;
  }
  .card___title {
    margin: 0;
    display: block;
    font-size: 32px;
    color: #777;
    font-weight: 700;
  }
  .card___description {
    display: block;
    margin: 10px 0 0;
    font-size: auto;
    color: #777777;
    line-height: 1.4;
  }
}
